@charset "UTF-8";

section#conteudo{
    width: 90%;
    margin: auto;
}
iframe#frame-spec {
    width: 400px;
    height: 300px;
    margin-left: 22% ; 
    border: none;
    overflow: hidden; /*não funcionou*/
}
/*não funcionou*/
 iframe#frame-spec::-webkit-scrollbar {
    display: none;
 }

